* {
  padding: 0;
  margin: 0;
}

.grid-container {
  background-color: orange;
  display: grid;
  position: absolute;
  width: 100vw;
  height: 100vh;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-item {
  font-size: 5rem;
}

.gi1 {
  color: green;
}
.gi2 {
  color: orange;
}
.gi3 {
  color: blue;
}

.gi4 {
  color: purple;
  grid-column-start: auto;
  grid-row-start: auto;

  grid-column-end: auto;
  grid-row-end: auto;
}
